services:
    app:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        container_name: animefeverzone_app
        volumes:
            - ./:/var/www
            - ./docker/supervisor/supervisord.conf:/etc/supervisor/supervisord.conf
        depends_on:
            - redis
            - mysql
        environment:
            - APP_ENV=local
        networks:
            - laravel

    nginx:
        image: nginx:stable
        container_name: animefeverzone_nginx
        ports:
            # Default '8080:80'
            - "8081:80"
        volumes:
            - ./:/var/www
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - laravel

    mysql:
        image: mysql:8
        container_name: animefeverzone_mysql
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: secret
            MYSQL_DATABASE: anime_fever_zone
            MYSQL_USER: animeuser
            MYSQL_PASSWORD: secret
        ports:
            # Default '3306:3306'
            - "3307:3306"
        volumes:
            - mysql_data:/var/lib/mysql
        networks:
            - laravel

    redis:
        image: redis:alpine
        container_name: animefeverzone_redis
        ports:
            - "6379:6379"
        networks:
            - laravel

networks:
    laravel:

volumes:
    mysql_data:
